@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #fcfdfe;
}

h1, h2, h3, h4, .font-outfit {
  font-family: 'Outfit', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 20px;
}
